body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #caa4d6;
}
nav {
   
    background-color: #6a526a;
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;

}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}
